@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright|Lato:300,400,700|Roboto:400,700");

$background-color: #eef8f6;
$image-border-color: #fbdeb3;

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  background-color: $background-color;
  margin: 50px auto;
  padding: 30px 2vw;
  max-width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &::before {
    content: "d'inks";
    border: 2px solid black;
    padding: 8px 30px;
    position: absolute;
    font-size: 30px;
    left: 150px;
    top: 20px;
    font-family: "Cormorant Upright", serif;
  }

  .image-container {
    width: 300px;
    height: 300px;
    padding: 0;
    box-sizing: border-box;
    margin: 20px 20px;
    transition: 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-position: center;
    background-size: cover;

    h2 {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 45px;
      line-height: 90px;
    }

    &:hover {
      outline: 5px solid $image-border-color;
    }
  }
}
