@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright|Lato:300,400,700|Roboto:400,700");

$background-color: #eef8f6;
$image-border-color: #fbdeb3;
$font-not-focused: #a4bfba;
$font-focused: #273650;

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-container {
  background-color: $background-color;
  margin: 50px auto;
  padding: 30px 2vw;
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &::before {
    content: "d'inks";
    border: 2px solid black;
    padding: 8px 30px;
    position: absolute;
    font-size: 30px;
    left: 10%;
    top: 20px;
    font-family: "Cormorant Upright", serif;
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      outline: none;
      background: none;
      border: none;
      margin: 15px;
      color: $font-not-focused;
      box-sizing: border-box;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 0;
        height: 3px;
        transition: 0.5s;
      }

      &:hover {
        cursor: pointer;
        color: $font-focused;
        &:before {
          width: 100%;
          background-color: $font-focused;
        }
      }
    }
  }

  .image-container {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 20px 20px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-position: center;
    background-size: cover;

    outline-color: $image-border-color;

    h2 {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 45px;
      line-height: 90px;
    }

    &:hover {
      border: 5px solid $image-border-color;
      cursor: pointer;
    }
  }
}
